.eggandwomen {
    display: flex;
    margin-top: 180px;
    background-color: rgba(244, 249, 252, 1);
    height: 800px;
    padding: 0 145px;
}
.eandw__left {
    background-image: url(../images/woman.png), url(../images/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: -15px, center;
    background-position-y: -9px, center;
    width: 650px;
    padding-top: 220px;
    margin-top: -220px;
}
.eggandwomen__right {
    margin: -124px 0 0 100px;
}
.eandw__subtitle {
    color: rgba(199, 37, 53, 0.6);
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
    text-align: left;
}
.eandw__title {
    font-family: "Hind Siliguri";
    font-size: 44px;
    font-weight: 600;
    line-height: 71px;
    color: rgba(3, 13, 21, 1);
    margin-bottom: 115px;
}
.eandw__description {
    width: 457px;
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(3, 13, 21, 0.6);
    margin-bottom: 40px;
}
.done-item {
    margin-right: 13px;
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
}
.eandw__list {
    display: flex;
    flex-direction: column;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: rgba(3, 13, 21, 1);
}
.eandw__list-item {
    display: flex;
    align-items: center;
}
.eandw__list-item:not(:last-child) {
    margin-bottom: 20px;
}