.wrap {
    box-sizing: border-box;
}
.column1, .column2, .column3, .column4, .column5 {
    background-color: orange;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    height: 100px;
}
.column234 {
    display: flex;
    flex-direction:column;
    width: 75%;
}
.column34 {
    display: flex;
}
.column25 {
    display: flex;
    flex-wrap: wrap;
}
.column3, .column4 {
    width: 50%;
}
.column5 {
    width: 24%;
    height: 205px;
}